body {
  --colortext-01: #ffffff;
  --colortext-02: #b2b2b2;
  --colortext-03: #ffbb00;
  --colortext-btn: #332200;
  --fundo-01: #000000;
  --fundo-02: #111111;
  --fundo-btn: #2e2e2e;
  --fontsize-16px: 1rem;
  --fontsize-18px: 1.125rem;
  --fontsize-24px: 1.5rem;
  --fontsize-32px: 2rem;
  --fontsize-45px: 2.8125rem;
  --fontsize-64px: 4rem;
  font-family: "Poppins", "Roboto", Arial, sans-serif;
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0px;
}

h1,
p,
ul {
  margin: 0px;
}

/* Header */

header {
  background: var(--fundo-01);
}

.header-item {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.menu a {
  display: inline-block;
  padding: 16px 0;
  color: var(--colortext-01);
  font-size: var(--fontsize-18px-18px);
  font-family: "Poppins";
  font-weight: 400;
  position: relative;
}

.menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--colortext-01);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.menu a:hover:after {
  width: 100%;
}

/* Intro Home */

.intro-bg {
  background: var(--fundo-01);
  color: var(--colortext-01);
  box-shadow: inset 0px -120px;
}

.intro {
  display: grid;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  margin-left: auto;
  margin-right: auto;
}

.intro-conteudo {
  align-self: end;
  padding-bottom: 200px;
}
.intro-conteudo h1 {
  margin-bottom: 32px;
  font-size: var(--fontsize-64px);
  line-height: 1.125;
  font-family: "Poppins";
  font-weight: 600;
}

.intro-conteudo p {
  margin-bottom: 20px;
  line-height: 1.5;
  color: var(--colortext-02);
  font-family: "Roboto";
  font-weight: 400;
}

.intro-conteudo a {
  padding: 16px 32px;
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--colortext-btn);
  font-size: var(--fontsize-18px);
  line-height: 1.33;
  font-family: "Poppins";
  font-weight: 600;
}

.intro-conteudo a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.intro-conteudo h1 span {
  color: var(--colortext-03);
}

.intro img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .intro h1 {
    font-size: var(--fontsize-45px);
  }

  .intro p {
    font-size: var(--fontsize-18px);
  }
}
@media (max-width: 800px) {
  .menu {
    gap: 20px;
  }
  .menu a {
    background: var(--fundo-02);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .menu a:hover {
    background-color: var(--fundo-btn);
  }
  .menu a::after {
    display: none;
  }

  .intro-bg {
    background: var(--fundo-02);
    padding-top: 40px;
    box-shadow: inset 0px -60px;
  }

  .intro {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .intro-conteudo {
    padding-bottom: 0px;
  }

  .intro h1 {
    font-size: var(--fontsize-32px);
    margin-bottom: 16px;
  }
  .intro img {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .menu {
    gap: 12px;
  }
  .menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
  .introa {
    padding: 12px 16px;
    font-size: var(--fontsize-16px);
  }
}
