.bick-list {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bick-list h2 {
  margin-bottom: 40px;
}

.bick-list-itens {
  display: flex;
  gap: 40px;
  padding: 0px 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#bicicleta .bick-list-itens {
  padding: 0px 0px 20px 0px;
}

.bick-list-itens li {
  min-width: 280px;
}

.bick-list-itens img {
  margin-bottom: 16px;
}

.bick-list-itens a {
  display: block;
}

.bick-list-itens h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.bick-list-itens h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--cor-p1);
  transition: width 0.2s;
}

.bick-list-itens a:hover h3::before {
  width: 24px;
}

.bick-list-itens li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bick-list {
    padding-bottom: 60px;
  }
  .bick-list ul {
    gap: 20px;
  }
}
