body {
  font-family: "Poppins", "Roboto", Arial, sans-serif;
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0px;
}

blockquote,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0px;
}
