header {
  background: var(--cor-12);
}

.header-item {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.menu a {
  display: inline-block;
  padding: 16px 0;
  position: relative;
}

.menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.menu a:hover:after {
  width: 100%;
}
